body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #3e6d5c;
    color: #0d1214;
}
 
h1 {
    font-size: 250%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
 
nav a {
    color: #0d1214;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #8fd0cf;
    height: 50px;
}

footer {
    display: block;
    text-align: center;
    padding: 1%;
    background-color: #3e6d5c;
    color: #0d1214;
    font-weight: bold;
    margin-top: auto;
}

footer a {
    color: #0d1214;
    font-weight: bold;
    text-decoration: none;
       
}

footer a:hover {
    color: #8fd0cf;
}

footer ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

footer li {
    display: inline;
    min-width: 100px;
}

 
@media screen and (max-width: 768px) {
    header,
    main {
        flex-direction: column;
    }

    section {
        padding-right: 0;
    }

    aside {
        width: 100%;
        text-align: center;
        }
}
