body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: black;
    color: aliceblue;
}
 
h1 {
    font-size: 200%;
}
 
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}
 
nav a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}
 
@media screen and (max-width: 768px) {
    header,
    main {
        flex-direction: column;
    }
}
