body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #3e6d5c;
    color: #0d1214;
}
 
h1 {
    font-size: 250%;
}

nav ul {
    display:flex;
}

nav a {
    color: #0d1214;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #8fd0cf;
}

.up:hover {
    box-shadow: inset 0 -3.25em 0 0;
    color:#351da3;
    transition-duration: .25s;
}
  
button {
    background: none;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #351da3;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 10px 10px; 
    border-width: 5px;
    transition: .25s;
}

.column {
    float: left;
    padding: 10px;
    height: 300px;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

@media screen and (max-width: 768px) {
    header,
    main {
        flex-direction: column;
    }

    section {
        padding-right: 0;
    }

    aside {
        width: 100%;
        text-align: center;
        }
}
